/static/
/templates/
/Designs/
/ttd/
/UML
/__pycache__/
**/__pycache/
**/__pycache/**
/__pycache__/
.py.test_cache
app/__pycache__/
app/controllers/__pycache__/
app/models/__pycache__/
test/__pycache__/

