{%  extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Welcome User</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h3>You have no businesses currently</h3>
            <p>Sieze this opportunity to add your business on our platform to get access to over 1 million clients.</p>   

            <hr>     
            <a href="/register" class="btn btn-primary btn-md">Register Your Business</a>        
              
        </div>

    </div>
</div>

{% endblock %}